.card img {
    max-height: 400px !important;
}

.producto {
    margin-bottom: 20px;
}

.img-carrito {
    max-height: 50px;
}

.logo {
    max-height: 30px;
}

.sugerencia {
    margin-bottom: 20px;
}

.foro-logo {
    font-size: 85px;
}

.comentario-container {
    max-height: 260px;
    overflow-y: scroll;
}

.comentario {
    word-break: break-all;
}
